@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("/images/lauren-gray-Zqh5l1JWs5M-unsplash\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #070400;
    font-size: 20vw;
    font-family: 'Fjalla One', sans-serif;
    background-color: #CFC4BF;
    mix-blend-mode: screen;
    padding: 20px;
}

h2 {
    color: rgba(244, 225, 225, 0.4);
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    
}